/*  цвет основного текста #757575
    вторичный цвет (заголовки) #212121
    цвет акцента #2196f3 */
:root {
  --card-set-gap: 30px;
  --logo-primary-color: #000000;
  --logo-secondaty-color: #ffffff;
  --text-primary-color: #757575;
  --icon-main-color: #afb1b8;
  --title-color: #212121;
  --hero-text-color: #ffffff;
  --accent-color: #2196f3;
  --bg-primary-color: #ffffff;
  --bg-secondary-color: #f5f4fa;
  --bg-footer-color: #2f303a;
  --btn-bg-color: #f5f4fa;
  --btn-text-color: #212121;
  --btn-second-text-color: #ffffff;
  --addr-secondary-color: rgba(
    255,
    255,
    255,
    0.6
  );
  --cubic: 0.4, 0, 0.2, 1;
}
body {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* ------------------utilitary classes--------------------- */
/* .outline {
  outline: 2px solid tomato;
} */
.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0px 15px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
.title {
  color: var(--title-color);
  font-size: 36px;
  text-align: center;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.subtitle {
  color: var(--title-color);
  font-weight: 700;
}
.link.current[href] {
  display: flex;
  flex-direction: column;
  color: var(--accent-color);
}
.btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  letter-spacing: inherit;
  line-height: 1.62;
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
  transition: color 250ms
      cubic-bezier(var(--cubic)),
    background-color 250ms
      cubic-bezier(var(--cubic)),
    box-shadow 250ms cubic-bezier(var(--cubic));
}
.btn.current {
  transition: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
/* ----------- text-color transition ------- */
.header-nav .link,
.contacts-item,
.address-item,
.footer-social-link {
  transition: color 250ms
    cubic-bezier(var(--cubic));
}
/* ---------------------------- header ------------------ */
.header {
  border-bottom: 1px solid #ececec;
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 3;
  background-color: var(--bg-primary-color);
}
.header > .container {
  display: flex;

  align-items: center;
}
.logo {
  color: var(--logo-primary-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}
.logo .accent {
  color: var(--accent-color);
}

.header-nav {
  display: flex;
}
.header-nav > .nav-item:not(:last-child) {
  margin-right: 50px;
}
.header-nav .link {
  display: flex;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding-top: 32px;
}
.header-nav .link::after {
  content: '';
  flex-grow: 1;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  margin-top: 28px;
}
.header-nav .link:hover,
.header-nav .link:focus {
  color: var(--accent-color);
}

.contacts.list {
  display: flex;
  margin-left: auto;
}
.contacts-item {
  display: flex;
  align-items: center;
  color: inherit;
}
.contacts-item > .icon {
  fill: currentColor;
  margin-right: 10px;
}
.contacts.list > .contacts-item:not(:last-child) {
  margin-right: 50px;
}
.contacts .link {
  font-weight: 500;
}
.contacts-item:hover,
.contacts-item:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
/* page -------------------------------INDEX-------------------------- */

/* ----------------------------section Hero */

.section.hero {
  /* margin-top: 80px; */
  background-color: var(--bg-footer-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header-bgd-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero.title {
  margin-bottom: 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}
.hero-btn.btn {
  padding: 10px 32px 10px 32px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
}
/* --------------------------------- modal window ---------------- */
.backdrop.is-hidden {
  opacity: 0;
  visibility: collapse;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  opacity: 1;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.2);
  transition: opacity 250ms
      cubic-bezier(var(--cubic)),
    visibility 250ms cubic-bezier(var(--cubic));
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--bg-primary-color);
  transition: transform 250ms
    cubic-bezier(var(--cubic));
}
.modal > button > svg {
  fill: currentColor;
  transition: fill 250ms
    cubic-bezier(var(--cubic));
}
.modal:focus-within > button > svg {
  fill: var(--accent-color);
}
.close-btn {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal-header {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  color: var(--btn-text-color);
  text-align: center;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form > label {
  margin-bottom: 4px;
}
.modal-form-wrap {
  position: relative;
  margin-bottom: 10px;
  display: block;
  color: var(--btn-text-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.modal-form-contacts {
  height: 40px;
  width: 100%;
  fill: currentColor;
  padding: 12px 16px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms
      cubic-bezier(var(--cubic)),
    outline-color 250ms cubic-bezier(var(--cubic));
}
.modal-form-contacts:focus {
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
}
.modal-form-contacts + svg {
  transition: color 250ms
    cubic-bezier(var(--cubic));
}

.modal-form-contacts:focus + svg {
  color: var(--accent-color);
}
.modal-form-icon {
  fill: currentColor;
}
.comment {
  height: 120px;
  resize: none;
  padding-left: 12px;
  margin-bottom: 20px;
}

.modal-form-contacts.comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
label.modal-policy-label {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
.modal-policy-chkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--btn-text-color);
}
.modal-policy-chkbox svg {
  fill: transparent;
}
.modal-policy-input:checked + label > span {
  border: none;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.modal-policy-input:checked + label > span > svg {
  fill: var(--bg-primary-color);
}
.policy-link {
  color: var(--accent-color);
}
.modal > .submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* ----------------------------- section Features */
.features .container {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.feature-list {
  display: flex;
}
.feature-icon {
  display: inline-flex;
  min-width: 270px;
  min-height: 120px;
  align-items: center;
  justify-content: center;
  background: var(--bg-secondary-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.feature-list > li {
  display: block;
  max-width: 270px;
  margin-right: 30px;
}
.feature-item.subtitle {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.feature-item.text {
  line-height: 1.71;
}
/* ------------------------------ section WORKS */
.work .container {
  display: flex;
  flex-direction: column;
  padding-bottom: 94px;
}
.work.title {
  display: block;
  margin: 0 auto 50px;
}
.work-list {
  display: flex;
  justify-content: center;
}
.work-list > .work-item:not(:last-child) {
  margin-right: 30px;
}
.work-item {
  position: relative;
}
.work-label {
  position: absolute;
  display: flex;
  z-index: 1;
  width: 100%;
  height: 70px;
  bottom: 0;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  color: var(--bg-primary-color);
  background-color: rgba(47, 48, 58, 0.8);
}
/* ------------------------------section Team */
.section.team {
  background-color: var(--bg-secondary-color);
}
.team .container {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  flex-direction: column;
}
.team.title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  justify-content: center;
}
.team-list > .team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.team-item-descr {
  padding: 30px 0;
}
.team.subtitle {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
}
.team.text {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
.team-socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-item {
  width: 44px;
  height: 44px;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--icon-main-color);
  transition: color 250ms
      cubic-bezier(var(--cubic)),
    background-color 250ms
      cubic-bezier(var(--cubic));
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--bg-primary-color);
}
.social-icon {
  fill: currentColor;
}
/* ------------------------------ section CLIENTS */
.clients > .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients .title {
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}
.client-link {
  min-width: 170px;
  min-height: 92px;
  border: 1px solid;
  border-color: var(--icon-main-color);
  border-radius: 4px;
  display: flex;
  height: 100%;
  width: 100%;
  color: var(--icon-main-color);
  align-items: center;
  justify-content: center;
  transition: color 250ms
      cubic-bezier(var(--cubic)),
    border-color 250ms cubic-bezier(var(--cubic));
}

.client-link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.client-logo {
  fill: currentColor;
}
/* --------------------------------page --PORTFOLIO-- */
/* ----------------------------section PORTFOLIO */
.section.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ------------------------- portfolio filter buttons area -- */
.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-list > .btn-item:not(:last-child) {
  margin-right: 8px;
}
.portf-btn.btn.current {
  padding: 6px 25px;
  color: var(--btn-second-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portf-btn {
  padding: 6px 22px;
}
.btn:hover,
.btn:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* -------------------------------------- portfolio content area -- */

.portf-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}
.portf-list > .portf-item {
  flex-basis: calc(
    100% / 3 - var(--card-set-gap)
  );
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
  transition: box-shadow 250ms
    cubic-bezier(var(--cubic));
}
.portf-list > .portf-item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portf-thumb {
  position: relative;
  overflow: hidden;
}
.portf-thumb .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--bg-primary-color);
  font-size: 18px;
  line-height: 1.55;
  padding: 63px 24px;
  transform: translatey(101%);
  transition: transform 250ms
    cubic-bezier(var(--cubic));
}
.portf-item:hover .overlay {
  transform: translatey(0%);
}
.portf-item-descr {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.portf-item.subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portf-item.text {
  font-size: 16px;
  line-height: 1.88;
}

/* ------------------------------ footer */
/* ----------- footer transition ------- */
.footer {
  background-color: var(--bg-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-second-color {
  color: var(--logo-secondaty-color);
}
.logo.link {
  display: flex;
}
.address-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.address-list > .addr-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-item {
  text-align: left;
  font-style: normal;
  text-decoration: none;
  color: var(--logo-secondaty-color);
  line-height: 1.71;
}
.address-item[href^='mail'],
.address-item[href^='tel'] {
  color: var(--addr-secondary-color);
}
.address-item:hover,
.address-item:focus {
  color: var(--accent-color);
}
.joinup {
  display: flex;
  flex-direction: column;
}
.joinup > p {
  padding-top: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--logo-secondaty-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.social-item {
  border-radius: 50%;
}
.footer-social-link {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--logo-secondaty-color);
  transition: background-color 250ms
    cubic-bezier(var(--cubic));
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}
.subscribe-label {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--logo-secondaty-color);
  text-transform: uppercase;
}
.input-email {
  width: 358px;
  height: 50px;
  padding: 15px;
  color: var(--bg-primary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  margin-right: 12px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.submit-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  padding: 10px 28px;
  color: var(--bg-primary-color);
  fill: currentColor;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
}
.icon-send {
  margin-left: 10px;
}
